@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    color: #044273;
}

.container {
    max-width: 1050px;
    width: 90%;
    margin: auto;
}

.nav-container input[type="checkbox"] {
    opacity: 0;
}

#Logoheader {
    position: absolute;
    top: 5px;
    font-size: 1.2rem;
    color: #009FE3;
    z-index: 2;
}

#Logoheader img{
    height: 6em;
    margin: 2vh 3vw;
}

a {
    text-decoration: none;
    color: #044273;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
}
a:hover{
    font-weight: bolder;
}

@media screen and (min-width: 780px) {

    /*GENERAL RULES*/
    h1{
        font-size: 10vh;
    }

    h3{
        font-size: 3vh;
        margin: 1vh 0;
    }

    h6{
        font-size: 17px;
        font-weight: normal;
        color: #009FE3;
        margin-top: 2em;
    }

    #Présentation h3, #NosSponsors h3, #NousSponsoriser h3{
        position: relative;
        margin-top: 3vw;
    }
    .content{
        padding: 0 6vh;
    }
    /*END GENERAL RULES*/

    /* MENU RULES */
    /* Here you'll find the rules of the hamburger menu*/
    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 62px;
    }
    .navbar .menu-items {
        display: flex;
    }
    .navbar .nav-container li {
        list-style: none;
    }
    .navbar .nav-container a {
        text-decoration: none;
        color: #044273;
        font-weight: 500;
        font-size: clamp(13px, 1.5vw, 18px);
        padding: 0.7rem;
    }
    .navbar .nav-container a:hover {
        font-weight: bolder;
    }
    .nav-container {
        display: block;
        height: 60px;
    }

    .navbar .internal-links {
        padding: 1em 2em 0 2em;
        /* Glass morph */
        background: rgba(255, 255, 255, 0.4);
        border-radius: 50px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(8px);
        border: 1px solid rgba(255, 255, 255, 0.21);
        /* Glass morph */
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 2vh;
        transition: transform 0.5s ease-in-out;
        position: fixed;
        top: 0;
        right: 2vh;
        z-index: 11;
    }

    .navbar .menu-items .internal-links li {
        margin-bottom: 1.2rem;
        font-size: 1.5rem;
        font-weight: 500;
    }

    .navbar .menu-items .external-links{
        position: fixed;
        display: flex;
        z-index: 11;
        top: 20vw;
        left: 3vw;
        flex-direction: column;
        align-items: center;
        padding: 12px 0;
        /* Glass morph */
        background: rgba(255, 255, 255, 0.4);
        border-radius: 50px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(8px);
        border: 1px solid rgba(255, 255, 255, 0.21);
        /* Glass morph */
    }

    .navbar .menu-items .external-links a {
        padding: 0;
    }

    .navbar .menu-items .external-links li img {
        margin: 0.5em;
        min-height: 20px;
        max-height: 4vh;
    }
    /*END OF MENU */


    /*RULES OF THE MAIN*/
    main{
        position: relative;
        margin-top: 40vw;
        margin-left: 3vw;
    }
    .titre{
        position: relative;
        z-index: 10;
        left: 0;
        top: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    #Photo_principal img{
        width: 100%;
        position: absolute;
        top: -90px;
        z-index: 0;
    }
    .titre-principal, .sous-titre{
        padding: 2vh 4vh 2vh 3vh;
    }
    .titre-principal{
        background-color: white;
        width: max-content;
        border-radius: 0 10px 10px 0;
    }
    .sous-titre{
        background-color: white;
        width: max-content;
        border-radius: 10px 10px 0 0;
        font-size: 1.3em;
    }
    .contenu_principal{
        background-color: white;
        padding-top: 10px;
        border-radius: 0 40px 0 0;
    }
    .documentaire{
        background-color: white;
        display: flex;
        flex-direction: column;
    }
    .documentaire p{
        font-size: 15px;
    }
    .documentaire iframe{
        margin: 2em;
    }
    /*END RULES OF MAIN*/

    /*NOS SPONSORS*/
    #NosSponsors{
        display: grid;
        grid-template-columns:  repeat(3, 1fr);
        grid-template-rows: 50px minmax(1fr, auto);
        grid-gap: 20px;
        margin-bottom: 3vw;
    }
    #NosSponsors h3{
        grid-column: 1/4;
    }
    .sponsor {
        width: 350px;
        padding: 35px;
        height: 350px;
        background: rgba(255, 255, 255, 0.4);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(8px);
        border: 1px solid rgba(255, 255, 255, 0.21);
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sponsor img{
        width: 100%;
    }
    /*END NOS SPONSORS*/

    /*FOOTER*/
    footer{
        margin-top: 1em;
        background-color: #044273;
        color: white;
        padding: 6vh 2vh 1vh 6vh;;
    }

    /*Contacts*/
    footer h3{
        margin: 0;
    }
    footer a{
        padding: 0;
    }
    footer .external-links{
        list-style: none;
        bottom: 30px;
        display: flex;
    }
    footer .external-links li img {
        margin: 5px;
        height: 3vw;
        filter: brightness(100);
    }
    #Contact{
        padding-top: 1em;
    }
    footer .droits p {
        font-size: 10px;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    /*END Contacts*/

    /*END FOOTER*/
}

@media screen and (max-width: 780px) {
    /*LOGO RULES*/
    /* The logo's style and position */
    #Logoheader {
        position: absolute;
        top: 5px;
        font-size: 1.2rem;
        color: #009FE3;
    }

    #Logoheader img{
        height: 10vw;
        margin: 2vh;
    }
    /*END LOGO RULES*/


    /*GENERAL RULES*/
    h1{
        font-size: 6vh;
    }

    h3{
        font-size: 3vh;
        margin: 1vh 0;
    }

    h6{
        font-size: 17px;
        font-weight: normal;
        color: #009FE3;
    }

    #Présentation h3, #NosSponsors h3, #NousSponsoriser h3{
        margin-top: 3vw;
    }
    /*END GENERAL RULES*/


    /* MENU RULES */
    /* Here you'll find the rules of the hamburger menu*/
    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 62px;
    }
    .navbar .menu-items {
        display: flex;
    }
    .navbar .nav-container li {
        list-style: none;
    }
    .nav-container {
        display: block;
        height: 60px;
    }
    .nav-container .checkbox {
        position: fixed;
        display: block;
        height: 32px;
        width: 32px;
        top: 30px;
        right: 30px;
        z-index: 12;
        opacity: 0;
        cursor: pointer;
    }
    .nav-container .hamburger-lines {
        display: block;
        height: 26px;
        width: 32px;
        position: fixed;
        top: 30px;
        right: 30px;
        z-index: 11;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .nav-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #044273;
    }
    .nav-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }
    .nav-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
    }
    .nav-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }
    .navbar .menu-items {
        padding-top: 12vh;
        padding-bottom: 10vh;
        /* Glass morph */
        background: rgba(255, 255, 255, 0.5);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(8px);
        border: 1px solid rgba(255, 255, 255, 0.21);
        /* Glass morph */
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2vh;
        transition: transform 0.5s ease-in-out;
        position: fixed;
        right: 20px;
        left: 20px;
        bottom: 10px;
        top: 0;
        z-index: 10;
    }

    .nav-container .background_menu{
        position: fixed;
        top: 14px;
        right: 16px;
        height: 60px;
        width: 60px;
        background: rgba(255, 255, 255, 0.4);
        border-radius: 50px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(8px);
        border: 1px solid rgba(255, 255, 255, 0.21);
        z-index: 2;
    }

    .navbar .menu-items .internal-links li {
        margin-bottom: 1.2rem;
        font-size: 1.5rem;
        font-weight: 500;
    }

    .navbar .menu-items .external-links{
        position: fixed;
        bottom: 30px;
        display: flex;
    }

    .navbar .menu-items .external-links a {
        padding: 0;
    }

    .navbar .menu-items .external-links li img {
        margin: 0.5em;
        height: 3vh;
    }

    /*The hamburger animation on click*/
    .nav-container input[type="checkbox"]:checked ~ .background_menu {
        opacity: 0;
    }
    .nav-container input[type="checkbox"]:checked ~ .menu-items {
        transform: translateX(0);
    }
    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
        transform: rotate(45deg);
    }
    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
        transform: scaleY(0);
    }
    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
        transform: rotate(-45deg);
    }
    /*END OF MENU */

    /*RULES OF THE MAIN
    #docu{
        width: 90vw;
    }*/

    #Photo_principal img {
        position: absolute;
        z-index: 0;
        width: 100%;
        top: 0;
    }

    .content{
        margin: 0 2vh 1vh 2vh;
    }

    .titre{
        margin: 50vw 0 0 0;
        position: relative;
    }

    .titre-principal{
        padding-left: 2vh;
        background-color: white;
        border-radius: 0 10px 0 0;
        padding-bottom: 5vw;
    }

    .sous-titre{
        width: 65vw;
        background-color: white;
        padding: 1vh 1vh 0 2vh;
        border-radius: 0 10px 0 0;
    }

    .documentaire iframe {
        width: 560px;
        height: 315px;
    }

    .documentaire p{
        font-size: 12px;
        margin-bottom: 10px;
    }
    /*END RULES OF THE MAIN*/



    /*NOS SPONSORS*/
    #NosSponsors{
        margin-bottom: 15vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #NosSponsors h3{
        align-self: baseline;
    }
    .sponsor{
        width: 60vw;
        padding: 35px;
        height: 45vw;
        /* Glass morph */
        background: rgba(255, 255, 255, 0.5);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(8px);
        border: 1px solid rgba(255, 255, 255, 0.21);
        /* Glass morph */
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sponsor img{
        width: 100%;
    }
    /*END NOS SPONSORS*/

    /*FOOTER*/
    footer{
        background-color: #044273;
        color: white;
        padding: 2vh 2vh 1vh 2vh;;
        border-radius: 50px 0 0 0;
        text-align: center;
    }
        /*Contacts*/
    #Contact{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    footer h3{
        margin-bottom: 3vw;
    }
    footer .external-links{
        list-style: none;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 5px;
    }
    footer .external-links li img {
        height: 7vw;
        filter: brightness(100);
    }
        /*END Contacts*/
    footer .droits p{
        font-size: 10px;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    /*END FOOTER*/
}



/**/
/* main styles */
/**/
.pcss3t {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	font-size: 0;
	text-align: left;
}
.pcss3t > input {
	position: absolute;
	left: -9999px;
}
.pcss3t > label {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	cursor: pointer;
	transition: all 0.1s;
	-o-transition: all 0.1s;	
	-ms-transition: all 0.1s;	
	-moz-transition: all 0.1s;	
	-webkit-transition: all 0.1s;
}
.pcss3t > input:checked + label {
	cursor: default;
}
.pcss3t > ul {
	list-style: none;
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	font-size: 13px;
}
.pcss3t > ul > li {
	position: absolute;
	width: 100%;
	overflow: auto;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	opacity: 0;
	transition: all 0.5s;
	-o-transition: all 0.5s;	
	-ms-transition: all 0.5s;	
	-moz-transition: all 0.5s;	
	-webkit-transition: all 0.5s;
}
.pcss3t > .tab-content-first:checked ~ ul .tab-content-first,
.pcss3t > .tab-content-2:checked ~ ul .tab-content-2,
.pcss3t > .tab-content-3:checked ~ ul .tab-content-3,
.pcss3t > .tab-content-4:checked ~ ul .tab-content-4,
.pcss3t > .tab-content-5:checked ~ ul .tab-content-5,
.pcss3t > .tab-content-6:checked ~ ul .tab-content-6,
.pcss3t > .tab-content-7:checked ~ ul .tab-content-7,
.pcss3t > .tab-content-8:checked ~ ul .tab-content-8,
.pcss3t > .tab-content-9:checked ~ ul .tab-content-9,
.pcss3t > .tab-content-last:checked ~ ul .tab-content-last {
	z-index: 1;
	top: 0;
	left: 0;
	opacity: 1;
	-webkit-transform: scale(1,1);
	-webkit-transform: rotate(0deg);
}


/*----------------------------------------------------------------------------*/
/*                                 EXTENSIONS                                 */
/*----------------------------------------------------------------------------*/

/**/
/* auto height */
/**/
.pcss3t-height-auto > ul {
	height: auto !important;
}
.pcss3t-height-auto > ul > li {
	position: static;
	display: none;
	height: auto !important;
}
.pcss3t-height-auto > .tab-content-first:checked ~ ul .tab-content-first,
.pcss3t-height-auto > .tab-content-2:checked ~ ul .tab-content-2,
.pcss3t-height-auto > .tab-content-3:checked ~ ul .tab-content-3,
.pcss3t-height-auto > .tab-content-4:checked ~ ul .tab-content-4,
.pcss3t-height-auto > .tab-content-5:checked ~ ul .tab-content-5,
.pcss3t-height-auto > .tab-content-last:checked ~ ul .tab-content-last {
	display: block;
}

/**/
/* grid */
/**/
.pcss3t .grid-row {
	margin-top: 20px;
}
.pcss3t .grid-row:after {
	content: '';
	display: table;
	clear: both;
}
.pcss3t .grid-row:first-child {
	margin-top: 0;
}
.pcss3t .grid-col {
	display: block;
	float: left;
	margin-left: 2%;
}
.pcss3t .grid-col:first-child {
	margin-left: 0;
}
.pcss3t .grid-col .inner {
	padding: 10px 0;
	border-radius: 5px;
	background: #f2f2f2;
	text-align: center;
}
.pcss3t .grid-col-1 {
	width: 15%;
}
.pcss3t .grid-col-2 {
	width: 32%;
}
.pcss3t .grid-col-3 {
	width: 49%;
}
.pcss3t .grid-col-4 {
	width: 66%;
}
.pcss3t .grid-col-5 {
	width: 83%;
}
.pcss3t .grid-col-offset-1 {
	margin-left: 19%;
}
.pcss3t .grid-col-offset-1:first-child  {
	margin-left: 17%;
}
.pcss3t .grid-col-offset-2 {
	margin-left: 36%;	
}
.pcss3t .grid-col-offset-2:first-child {
	margin-left: 34%;
}
.pcss3t .grid-col-offset-3 {
	margin-left: 53%;
}
.pcss3t .grid-col-offset-3:first-child {
	margin-left: 51%;
}
.pcss3t .grid-col-offset-4 {
	margin-left: 70%;
}
.pcss3t .grid-col-offset-4:first-child {
	margin-left: 68%;
}
.pcss3t .grid-col-offset-5:first-child {
	margin-left: 85%;
}

/**/
/* steps */
/**/
.pcss3t-steps > label {
	cursor: default;
}

/**/
/* animation effects */
/**/
.pcss3t-effect-scale > ul > li {
	-webkit-transform: scale(0.1,0.1);
}
.pcss3t-effect-rotate  > ul > li {
	-webkit-transform: rotate(180deg);
}
.pcss3t-effect-slide-top > ul > li {
	top: -40px;
}
.pcss3t-effect-slide-right > ul > li {
	left: 80px;
}
.pcss3t-effect-slide-bottom > ul > li {
	top: 40px;
}
.pcss3t-effect-slide-left > ul > li {
	left: -80px;
}

/*----------------------------------------------------------------------------*/
/*                                   LAYOUTS                                  */
/*----------------------------------------------------------------------------*/

/**/
/* top right */
/**/
.pcss3t-layout-top-right {
	text-align: right;
}


/**/
/* top center */
/**/
.pcss3t-layout-top-center {
	text-align: center;
}


/**/
/* top combi */
/**/
.pcss3t > .right {
	float: right;
}

/*----------------------------------------------------------------------------*/
/*                               RESPONSIVENESS                               */
/*----------------------------------------------------------------------------*/

/**/
/* pad */
/**/
@media screen and (max-width: 980px) {
	
}


/**/
/* phone */
/**/
@media screen and (max-width: 767px) {
	.pcss3t > label {
		display: block;
	}
	.pcss3t > .right {
		float: none;
	}
}



/*----------------------------------------------------------------------------*/
/*                                   THEMES                                   */
/*----------------------------------------------------------------------------*/

/**/
/* default */
/**/
.pcss3t > label {	
	padding: 0 20px;
	background: #e5e5e5;
	font-size: 13px;
	line-height: 49px;
}
.pcss3t > label:hover {
	background: #f2f2f2;
}
.pcss3t > input:checked + label {
	background: #fff;
}
.pcss3t > ul {
	background: #fff;
	text-align: left;
}
.pcss3t-steps > label:hover {
	background: #e5e5e5;	
}


/**/
/* theme 1 */
/**/
.pcss3t-theme-1 > label {
	margin: 0 5px 5px 0;
	border-radius: 5px;
	background: #fff;
	box-shadow: 0 2px rgba(0,0,0,0.2);
	color: #044273;
	opacity: 0.8;
}
.pcss3t-theme-1 > label:hover {
	background: #fff;
	opacity: 1;
}
.pcss3t-theme-1 > input:checked + label {
	margin-bottom: 0;
	padding-bottom: 5px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	color: #009FE3;
	opacity: 1;
}
.pcss3t-theme-1 > .tab-content-first:checked ~ ul {
	border-top-left-radius: 0;
}
@media screen and (max-width: 767px) {
	.pcss3t-theme-1 > label {
		margin-right: 0;
	}
	.pcss3t-theme-1 > input:checked + label {
		margin-bottom: 5px;
		padding-bottom: 0;
		border-radius: 5px;
	}
	.pcss3t-theme-1 > .tab-content-first:checked ~ ul {
		border-top-left-radius: 5px;
	}
}

/*----------------------------------------------------------------------------*/
/*                               CUSTOMIZATION                                */
/*----------------------------------------------------------------------------*/

/**/
/* height */
/**/
.pcss3t > ul,
.pcss3t > ul > li {
	height: 370px;
}


