@media screen and (max-width: 780px) {
    #NosSponsors{
        height: 30em;
    }
    .sponsor:nth-child(3) img {
        margin: 30px 0;
    }
    .sponsor:nth-child(2) {
        position: relative;
        z-index: 5;
        top: 100px;
    }
    .sponsor:nth-child(3) {
        position: relative;
        z-index: 4;
        bottom: 25vw;
        transform: rotate(0.05turn);
    }
    .sponsor:nth-child(4) {
        position: relative;
        bottom: 75vw;
        z-index: 6;
        transform: rotate(0.02turn);
    }
}